.none {
	display: none;
}

.imageCover {
	position: relative;
}

.imageCover .baseImage {
}

.imageCover .coverImage {
	position: absolute;
	left: 85px;
	top: 40px;
	font-size: 100px;
	color: #a55;
	background-color: rgba(0,0,0,0.7);
}

#fileThumbnails>.fileThumbnail:hover {
	cursor: pointer;
}
